.navigation {
	background-color: lightblue;
	background-size: cover;
	border:1px solid rgba(0,0,0,0.3);	
	width: 100%;
	position: fixed;
	top: -3px;
	z-index: 5;		
}

.registernav{
	position: fixed;
	top: -3px;
	z-index: 5;
}

 .navigation ul{
	display: inline-flex;
}

.navigation ul li{
	list-style: none;
	display: inline-flex;
	cursor: pointer;
	margin: 0  20px;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.7);
}

.navbutton  input{
	font-size: 20px;
	padding-bottom: 5px;
	position: relative;
	right: -400%;
	width: 100px;
	height: 30px;
	border-radius: 10px;
	background: #96f081;
}

.logo img{
	position: relative;
	left: -50px;
	height: 30px;
	margin-right: 50px;	
}
body{
	margin:0px;
}

.colum{
	margin-top: 5px;
	position: relative;
	top: 60px;
}

.colum img{	
	background-size: cover;
	width: 75%;
	float: left;
	height: 700px;
}

.textoverimage{
	position: absolute;
	font-size: 50px;
	top: 200px;
	left: 20px;
}

.registration{
	width: 600px;
	max-height: 900px;	
	background-color: lightblue;
	position: relative;
	left: 500px;
	top:5px;
	padding-bottom: 50px;
}

.registration h2{
	text-align: center;
	font-size: 40px;
	margin:  60px;
	position: relative;
	top: 20px;
	color: #00d700;
	text-decoration: underline;
}

.registration p{
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
}

.inputvalue{

}

.inputvalue label{
	display: block;
	text-align: left;
	font-size: 20px;
	font-family: sans-serif;
	margin-top: 20px;
	position: relative;
	left: 75px;
}

.inputvalue input, select{
	display: block;
	width: 75%;
	height: 40px;
	border-radius: 5px;
	margin-right: 20px;
	padding-left: 10px;
	position: relative;
	left: 75px;
	font-size: 20px;
	font-family:sans-serif;
}

.inputvalue input[type="submit"] {
	width: 30%;
	margin-top: 10px;
	font-size: 20px;

}

.invalid  p{
	display: inline;
	color: red;
	font-size: 12px;
	margin-left: 20px;
}